</br>
<h2>Exampel Home Pages</h2>
</br>
</br>
<ul>
    <li><a href="www.codear.de:2000">Shopping Cart</a></li></br>
    <li><a href="/examples/insertMongoDB">Insert Mongo DB</a></li></br>
    <li><a href="/examples/pizzsShop">Pizza shop</a></li></br>

</ul>

